<%- include('./partials/header'); -%>

<h1>sign In form</h1>

<form action="/login" method="POST"> 
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign In</button>
</form>

<%- include('./partials/footer'); -%>